export DATABASE_URL=postgresql://postgres:example@localhost:5432/postgres
export JWT_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----
MIIEvwIBADANBgkqhkiG9w0BAQEFAASCBKkwggSlAgEAAoIBAQDHFJoGMbaroxR5
dZW1fHhZDjPQY8cT7CnYUsQ14YPbv7M4rdrP71GCxhZwtbC/wLwBAGWzS75bsTsO
2aaw0Gv12kRl1KBoh+ysX/X8c+crMQmID945if+s/U4y+h64um0OpLf8dayBr6d/
4bmEFLmF8Nt3dbO+uvDi0HmMA9pgy9v9052yFsEPvBCU+L9tlhujkh15rGgPqhj1
Ebtle/3MqexXLgo/T+Eyomz9nWBvL5SYd+/T94SPpZYowRblepmqWgMjqEAXaadE
oHN0/9aj+uY9sP85r49gl0QBD3WXqdVa/Llir83aNqzclSpoL4nKNng5SMN2S2Vi
eUVhBBYfAgMBAAECggEAC2hzURKNOLWuKS2jSBSbYuMM9g6ZrFsWpMZNZxcGstN/
5ioURWEd5yQJyiinOb3GKDqJGWaoQGHeFAJF6pDu9tYsoDc4f/T2C4SuOGq93vw+
4xShs+NkCtozHnm1w/ku4a1vu6BUo9PYgdwCAP8dCH9eXDCa/b2Bq0WuCWd5Hp3G
FLMeDxrAoYE1FeCoYhGucRiSebar10r5K9uCt4GTEiTPpYbWaE3LtKEUiWOuP8L/
55ManexpK4MnC2XBZEETAAeasGJvSwC8LgHfAzH3a0Iu9+vBb0UvOS9Z9pejMvH3
We3QHjM34n3J6wPaXvn4lIwNYKK5JvnUS25+w1T31QKBgQDs6mvC5H9Twi7UFXHn
UwBCa62J4vGYewO4RKRYHrwzEoB4D6kQADEJ2a9KjiGF8oNbwE3BIqalBa+RKY+3
L96Pkw2bJ1jMHNmm/iA4lPnTam3+F7jrk1Dhxw8AN2prhLvWhLwteEjsK2fxul+J
irwtMvtVfFis1eUqN7cPVfNxnQKBgQDXHfU/tXB0Its2fmKp+T9YIDQ5c/Rocmin
uvsRM9jfOwFIxBhbv9bj/1v2rK7DuSdalPOrib5GPL2BZcwgan3+ocWgMJX1mhrP
YiOXEOaDBaJumZk7j0mMAKEZ+KOFEzmj6OJwcY2yXGHXRAkoSi/w4tpYGYkRowZn
hpfvOtWH6wKBgQDYUFnAAt123m/fWQ09Bv3Pp301zq6EaJ1G2/WqN7Xic9w0wye7
4lDkC4wPaKKXKIxjc7wKwdaiCgT5Z5c+zUhKkxvzNAPRqe3YmWNWBj/sltqDC6nd
/g31d8jsi6xxKypOfbdLVO5QJHmtrluYu8GBC3GL5hMZC9tHpsNQD0xNyQKBgQCC
XAo6EFbUWicjz9U0kfHcEq/zPRyYivR26K2rEBNVu+kcUpE8UHYF9sKhKqZBv5tk
ni1H/5IJ+FcS6kCYSFCQFTKwz6CglEG4+Qz+R+SY87oqcfRVDpEQQXVfSri1NSBR
/xfx8i5fLvKvw/AUtVh2DtMoXlkdEgEYjYzXEX1C/wKBgQDmbqH7QkxkHd/iVYY3
rQcQ9v6+8miq2Sa89eQSdVA/LtOKuBG/FeIzJ10yvjfoFxQ+F473xKIlXBI2jNFR
Vv1QO8C/P/waKljLZ0AuUu2x7J7BEWJ+hUPCGFrsfNWqzIxR5VKPtJyCDjekcLkd
rI/n8ptMUI9A/V/C3MPAcMWJxA==
-----END PRIVATE KEY-----"

export JWT_PUBLIC_KEY="-----BEGIN PUBLIC KEY-----
MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEAxxSaBjG2q6MUeXWVtXx4
WQ4z0GPHE+wp2FLENeGD27+zOK3az+9RgsYWcLWwv8C8AQBls0u+W7E7DtmmsNBr
9dpEZdSgaIfsrF/1/HPnKzEJiA/eOYn/rP1OMvoeuLptDqS3/HWsga+nf+G5hBS5
hfDbd3Wzvrrw4tB5jAPaYMvb/dOdshbBD7wQlPi/bZYbo5IdeaxoD6oY9RG7ZXv9
zKnsVy4KP0/hMqJs/Z1gby+UmHfv0/eEj6WWKMEW5XqZqloDI6hAF2mnRKBzdP/W
o/rmPbD/Oa+PYJdEAQ91l6nVWvy5Yq/N2jas3JUqaC+JyjZ4OUjDdktlYnlFYQQW
HwIDAQAB
-----END PUBLIC KEY-----"
export STRIPE_SECRET_KEY=""
export STRIPE_WEBHOOK_SECRET=""
export FRONTEND_URL=""
export GOOGLE_APPLICATION_CREDENTIALS=""
export GCS_BUCKET_NAME=""